<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of service</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS -->
</head>

<body>

    <div class="container">
        <h1>Terms and Service</h1>
        <form id="termsForm">
            <div class="terms">
                <h2>Terms and Conditions</h2>
                <p>Welcome to our booking system. By using our services, you agree to the following terms:</p>
                <ul>
                    <li>You must provide accurate information while booking.</li>
                    <li>All bookings are subject to availability.</li>
                    <li>Cancellations must be made 24 hours in advance to avoid penalties.</li>
                    <li>Our system may be subject to scheduled maintenance, and we reserve the right to modify these terms at any time.</li>
                </ul>
               
            </div>
            

        </form>
        <p> Here is the link to the Privacy Policy. </p>
        <a href="privacynotice" class="btn">Privacy Policy</a>

        <p> </p>
        <a href="/" class="btn">Back to Home</a>
    </div>
    

</body>

</html>

